/*====================
      Variables
======================*/
:root {
  --color-primary: #288EE0;
  --color-secondary: #E1ECFC;
  --color-success: #45B69C;
  --color-danger: #F26666;
  --color-light: #fff;
  --color-dark: #4f4f4f; 
  /* --color-dark: #403D52;  */

}

/*====================
        Main
======================*/
