/*====================
      Variables
======================*/
:root {
  --color-primary: #288EE0;
  --color-secondary: #E1ECFC;
  --color-success: #45B69C;
  --color-danger: #F26666;
  --color-light: #fff;
  --color-dark: #4f4f4f; 
  /* --color-dark: #403D52;  */

}

/*====================
        Main
======================*/
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-primary);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;

}

p {
  color: var(--color-dark);
}

.section {
  width:100%;
  padding:1rem;
}

.section.grid {
  background-image: url("../public/grid-fade.svg");

}

.section.primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

/*====================
        Nav
======================*/

nav {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding:0.25rem;
  width:100%;

}
nav > div {
  max-width: 1300px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


nav .btn-group {
  display:flex;
  flex-direction: row;
}
nav .btn-group > button {
  margin: 0 0.5rem;
}


/*====================
        Button
======================*/

.btn {
  padding:0.35rem 0.85rem;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  color: var(--color-dark);
  font-family: "Open Sans";
}

.btn.solid.light {
  background-color: var(--color-light);
  color:var(--color-primary);

}

.btn.solid.primary {
  background-color: var(--color-primary);
  color:var(--color-light);

}

.btn.outline.light {
  background-color: transparent;
  color:var(--color-light);
  border:2px solid var(--color-light);
  box-sizing: border-box;
}

