extends layout 

block content
    div(class="row mainPage") 
        div(class="col-md-2 accountMenu")
            div(class="circle")
                p 
            hr
            ul 
                li 
                    a(class="menuTag") Account 
                li 
                    a(class="menuTag") Settings 
                li 
                    a(class="menuTag") About
            span(class="logOut")
                a(href="/") Log Out


        div(class="col-md-12 ")
            div(class="row heading")
                h1(class="boardsLabel") Boards
                h2 #{userInfo.username}
                h2 #{userInfo.id}



            div(class="row bodyPage" id="bodyPage")
                div(class="box-1")
                    div(class="btn btn-one" onclick="CreateBoard()")
                        span Add Board
                    div
                div
                
                h2 Current Board
                //- button(id="boardBtn" onclick="CreateBoard()") Add Board
                div(id="currentBoard")
                h2 Recent Boards
                
                //- div(class="boardBoxes" id="boardBoxes" )
