extends layout 

block content
    div(class="row mainPage") 
        div(class="col-md-2 accountMenu")
            div(class="circle")
            hr
            ul 
                li 
                    a Account 
                li 
                    a Settings 
                li 
                    a About
            span(class="logOut")
                a(href="/") Log Out


        div(class="col-md-12 ")
            div(class="row heading")
                h1(class="boardsLabel") Boards



            div(class="row bodyPage" id="bodyPage")
                div(class='col-md-4')
                    div(class="card")
                        <h3>To do</h3>
                            div(class="list")
                                div(id="to-do-list")
                    <button onclick="addToDo()">add item</button>

                div(class='col-md-4')
                    div(class="card")
                        <h3>In progress</h3>
                            div(class="list")
                                div(id="in-progress-list")
                    <button onclick="addInProgress()">add item</button>

                div(class='col-md-4')
                    div(class="card")
                        <h3>Finished Activities</h3>
                            div(class="list")
                                div(id="finished-list")
                    <button onclick="addFinished()">add item</button>
