extends layout 

block content
    div(class="row mainPage") 
        div(class="col-md-2 accountMenu")
            div(class="circle")
            hr
            ul 
                li 
                    a Account 
                li 
                    a Settings 
                li 
                    a About
            span(class="logOut")
                a(href="/") Log Out


        div(class="col-md-12 ")
            div(class="row heading")
                h1(class="boardsLabel") Boards



            div(class="row bodyPage" id="bodyPage")
                div(class='col-md-4')
                    div(class="card")
                        <h3>To do</h3>
                            div(class="list")
                                body
                                    script.
                                        function addToDo() {
                                            var b = document.createElement("input");
                                            b.setAttribute("type", "text");
                                            b.classList.add('listItem');
                                            b.draggable = "true";

                                            document.body.appendChild(b)
                                        }
                    <button onclick="addToDo()">add item</button>

                div(class='col-md-4')
                    div(class="card")
                        <h3>In progress</h3>
                            div(class="list")
                                <ul id="in-progress-list"></ul>
                    <button onclick="addInProgress()">add item</button>

                div(class='col-md-4')
                    div(class="card")
                        <h3>Finished Activities</h3>
                            div(class="list")
                                <ul id="finished-list"></ul>
                    <button onclick="addFinished()">add item</button>
