extends layout 

block content
    h1 Home page
    div 
        a(href='/login' class="btn btn-primary") login 
        a(href='/signup') signup
        a(href='/account') account
        a(href='/boards')  boards
        
