extends layout 

block content
    body(class="body-signup")
        div(id="login-box" class="flex")
            div
                h1(class="sign-title") Log In 
                form(id="login")
                    input(type="text" placeholder="Username" autocomplete="off" class="inputField" id="username")
                    input(type="password" placeholder="Password" autocomplete="off" class="inputField" id="password")
                    input(type="submit" value="Log In" class="submit")