extends layout 

block content
    body(class="body-signup")
        div(id="login-box")
            div(class="left")
                h1(class="reg-title") Create an Account
                form(id="reg-form")
                    input(type="text" placeholder="Username" autocomplete="off" class="inputField" id="username")
                    input(type="password" placeholder="Password" autocomplete="off" class="inputField" id="password")
                    input(type="submit" value="Create" class="submit") 
            div(class="right" href='/login')
                span(class="loginwith")
                button(class="signin" ) 
                    a( class="signin" href='/login') Log In
            div(class="or") OR
        