extends layout 

block content
    div(class="row mainPage") 
        div(class="col-md-2 accountMenu")
            div(class="circle")
                p(name="accountName") 
            hr
            ul 
                li 
                    a(class="menuTag" href='/account') Account 
                li 
                    a(class="menuTag") Settings 
                li 
                    a(class="menuTag") About
            span(class="logOut")
                a(href="/") Log Out


        div(class="col-md-12")
            div(class="row boardsBodyPage" id="bodyPage")
                div(class='col-md-2' id="listStyle")
                    div(class="card")
                        <h3 style="text-align: center">To do</h3>
                        <button onclick="addToDo()" id="buttonStyle">Add item</button>
                            div(class="list")
                                div(id="to-do-list")
                                //- each item in usersBoard
                                //-     input(type="text" class="listItem" draggable="true")

                div(class='col-md-2' id="listStyle")
                    div(class="card")
                        <h3 style="text-align: center">In progress</h3>
                        <button onclick="addInProgress()" id="buttonStyle">Add item</button>
                            div(class="list")
                                div(id="in-progress-list")

                div(class='col-md-2' id="listStyle")
                    div(class="card")
                        <h3 style="text-align: center">Finished Activities</h3>
                        <button onclick="addFinished()" id="buttonStyle">Add item</button>
                            div(class="list")
                                div(id="finished-list")
